version: '3'

services:
  app:
    build: .
    command: rails server -p 3000 -b '0.0.0.0'
    volumes:
      - .:/var/www/app
    ports:
      - "3000:3000"
    depends_on:
      - mysql
  mysql:
    image: mysql:5.6.34
    ports:
      - "3306"
    volumes:
      - ./tmp/db:/var/lib/mysql
